<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitalhouse.desafio4firebase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.Desafio4Firebase">
        <activity android:name="com.digitalhouse.desafio4firebase.game.ui.AddGameActivity"></activity>
        <activity android:name="com.digitalhouse.desafio4firebase.game.ui.GameDetailActivity" />
        <activity android:name="com.digitalhouse.desafio4firebase.game.ui.AddActivity" />
        <activity android:name="com.digitalhouse.desafio4firebase.game.ui.LoginActivity" />
        <activity android:name="com.digitalhouse.desafio4firebase.game.ui.HomeActivity" />
        <activity android:name="com.digitalhouse.desafio4firebase.game.ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>